{% extends "admin/Ad_home.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div> 
<form id="form1" name="form1" method="post" action="">
    <table width="500" border="1" align="center" class="table table-hover">
        <tr>
            <th><label for="textfield">CURRENT PASSWORD</label></th>
            <td><input type="text" name="textfield" id="textfield"required /></td>
        </tr>
      <tr>
          <th><label for="textfield2">NEW PASSWORD</label></th>
          <td><input type="text" name="textfield2" id="textfield2"required /></td>
      </tr>
       <tr>
           <th><label for="textfield3">CONFIRM PASSWORD</label></th>
           <td><input type="text" name="textfield3" id="textfield3"required /></td>
       </tr>
        <tr align="center">
            <th><input type="submit" name="button" id="button" value="Submit" /></th>
        </tr>
    </table>
</form>
</div>
</body>
</html>
{% endblock %}