{% extends "admin/Ad_home.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<div>
<form id="form1" name="form1" method="post" action="">
    <table class="table table-borderless">
        <tr>
            <th>DONATION</th>
            <th><textarea name="textarea" id="textarea" cols="45" rows="5"required></textarea></th>
        </tr>
        <tr>
            <th>Amount</th>
            <th><input type="text" name="a" required> </th>
        </tr>
        <tr>
            <th>
            </th>
            <th>
    <input type="submit" name="button" id="button" value="Submit" /></th>
        </tr>
    </table>
    <p></p>

</form>
</div>
</body>
</html>
{% endblock %}