{% extends "user/User_home.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="500" border="1" align="center" class="table table-hover">
    <tr>
      <td>Sl.no</td>
      <td>Donation</td>
      <td>Amount</td>
      <td>Date</td>
      <td></td>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{loop.index}}</td>
      <td>&nbsp;{{ i['donation']}}</td>
      <td>&nbsp;{{ i['amount']}}</td>
      <td>{{ i['date']}}</td>
      <td>&nbsp;{% if  i['status']=='pending' %}
      <a href="/send_donation/{{ i['req_ID'] }}/{{ i.amount }}">Send Donation</a>
      {% endif %}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}